/* MOBILE DEVICE */
@media screen and (max-width: 576px) {

    /* HEADER SECTION */
    .menu-container,
    .menu-content {
        flex-direction: column;
    }

    .menu-icon {
        width: 100%;
        justify-content: center;
        margin: 60px 0 40px;
    }

    .menu-content {
        width: 100%;
    }

    /* BANNER SECTION */
    .banner-container {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 55px;
        padding: 10px;
    }

    .banner-content {
        width: 100%;
        padding: 80px 0px;
        background-image: url("../images/Group-14.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .banner-content .banner-btn2 {
        margin-left: 0px;
    }

    .banner-img {
        width: 100%;
    }


    /* ONLINE GAMES SECTION CSS START FROM HERE */
    .online-games-items {
        flex-direction: column;
    }

    .online-games-container {
        margin-top: 40px;
    }


    /* THIRD ANNIVERSARY SECTION CSS */

    .third-annivarsary-section-container {
        flex-direction: column;
    }

    .anniversary-content {
        width: 100%;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .anniversary-poster {
        width: 100%;
    }

    .poster-card {
        width: 150px;
        left: 1%;
    }

    .poster-img {
        margin-left: 70px;
        max-width: 80%;
        object-fit: cover;
    }

    /* GAMES CONTAINER SECTION START FROM HERE */

    .games-item img {
        width: 30px;
        height: 30px;
    }

    .games-item .games-item-name {
        font-size: .6em;
    }



    /* GAMES CONTAINER SECTION START FROM HERE */

    .games-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 0px;
    }

    .games-item img {
        width: 30px;
        height: 30px;
    }

    .games-item{
        max-width: 80%;
        margin: 0 auto;
        max-height: 60px;
    }

    .games-item .games-item-name {
        font-size: .6em;
    }


    /* FOOTER SECTION  */

    .footer-description,
    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .footer-terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    footer {
        padding: 20px;
    }

    .footer-icon {
        padding-left: 50px;
    }


}


/* TABLET / MEDIUM DEVICE */

@media screen and (min-width: 576px) and (max-width: 992px) {

    /* HEADER SECTION */
    .menu-container,
    .menu-content {
        flex-direction: column;
    }

    .menu-icon {
        width: 100%;
        justify-content: center;
        margin: 30px 0;
    }

    .menu-content {
        width: 100%;
    }

    /* BANNER SECTION */
    .banner-container {
        flex-direction: column-reverse;
        text-align: center;
        margin-top: 55px;
        padding: 15px;
    }

    .banner-content {
        width: 100%;
        padding: 10px 0;
    }

    .banner-img {
        width: 100%;
    }

    /* ONLINE GAMES SECTION CSS START FROM HERE */
    .online-games-items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .online-games-container {
        margin-top: 40px;
    }


    /* THIRD ANNIVERSARY SECTION CSS */

    .third-annivarsary-section-container {
        flex-direction: column;
    }

    .anniversary-content {
        width: 100%;
        text-align: center;
        padding-right: 0px;
        padding-left: 0px;
    }

    .anniversary-poster {
        width: 100%;
    }

    .poster-card {
        width: 250px;
        position: absolute;
        top: 70%;
        left: 1%;
    }

    .poster-img {
        margin-left: 70px;
        max-width: 80%;
        object-fit: cover;
    }


    /* GAMES CONTAINER SECTION START FROM HERE */

    .games-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .games-item img {
        width: 30px;
        height: 30px;
    }

    .games-item .games-item-name {
        font-size: .6em;
    }


    /* FOOTER SECTION */


    .footer-description,
    .footer-icon {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .footer-terms {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    footer {
        padding: 20px;
    }

    .footer-icon {
        padding-left: 120px;
    }



}