/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@500;600;700;800&display=swap');

/* COMMON / SHARED CSS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
    max-width: 1920px;
    margin: 0 auto;
}

span {
    background-image: linear-gradient(#FF42A5 0%, #FF42A5 100%);
    color: transparent;
    -webkit-background-clip: text;
}



/* CSS FOR HEADER SECTION START HERE */

header {
    max-width: 1440px;
    margin: 0 auto;
}

/* CSS FOR NAV BAR */
.menu-container {
    display: flex;
    min-height: 130px;
}

.menu-icon {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-icon h3 {
    font-size: 45px;
    font-weight: 700;
}

.menu-icon img {
    width: 86px;
    height: 40px;
}

.menu-content {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 32px;
}

.menu-content a {
    text-decoration: none;
    color: #3C354F;
    font-size: 18px;
    font-weight: 500;
}

.menu-social-icon {
    display: flex;
    align-items: center;
    gap: 24px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    padding: 17px 24px;
}


/* BANNER SECTION */

.banner-container {
    display: flex;
}

.banner-content {
    width: 50%;
    padding: 148px 0;
    background-image: url("../images/Group-14.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content .banner-title1 {
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;
}

.banner-content .banner-title2 {
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 24px;
}

.banner-content p {
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 17px;
}

.banner-content .banner-btn1 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    background-image: linear-gradient(#FF42A5 0%, #FF42A5 100%);
    border-radius: 48px;
    border: none;
    cursor: pointer;
}

.banner-content .banner-btn1:hover {
    background: #4EC5F7;
}

.banner-content .banner-btn2 {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 10px;
    border: none;
    cursor: pointer;
}

.banner-content .banner-btn2:hover {
    background-image: linear-gradient(#FF42A5 0%, #FF42A5 100%);
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 100%;
}

/* CSS FOR HEADER SECTION END HERE */




/* SECTION 5 CSS START FROM HERE */
.games-container {
    border: 1px solid red;
    max-width: 1440px;
    margin: 100px auto;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

    display: flex;
    flex-wrap: wrap;
    gap: 34px;
    justify-content: center;
    align-content: center;
}

.games-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 10px;
    max-height: 80px;
}

.games-item:hover {
    border: 1px solid #FF42A5;
    border-radius: 50px;
    background: #FFF;
}

.games-item:hover p {
    background-image: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.games-item p {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
}




/* SECTION 5 CSS END HERE */